body{
    background: linear-gradient(to right, rgb(37, 47, 37),rgb(43, 100, 40),rgb(18, 69, 24));
    color:rgb(255, 255, 255);
    margin:0;
    padding:0;
    font-family: Helvetica;
    margin: 10px;
    
}
